.wp-admin .wrap {}
.wp-admin .wrap.wprshrtcd-help .code-example {
    position: relative;
    background-color: rgba(0,0,0,.07);
    border: 1px solid rgba(0,0,0,.2);
    padding: 6px;
    padding-right: 50px;
    margin-bottom: 25px;
}

.wptl-tip-container {
    position: relative;
}

.wptl-tip-container .tipr_container_below {
    width: 100%;
    margin-left: 50%!important;
    transform: translateX(-50%);
}

.wptl-tip-container .tipr_content {
    font-size: 11px;
    text-transform: none;
}

.wptl-tip-container .wptl-tip {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
}

.wp-admin .wrap.wprshrtcd-help .code-example .code-example-value {
    font-family: Consolas,Monaco,monospace;
}
.wp-admin .wrap.wprshrtcd-help .code-example .code-example-value.copied {
    background-color: rgba(0, 185, 238, 0.2);
    color: rgba(0, 0, 0, 0.2);
}
.wp-admin .wrap.wprshrtcd-help .code-example .code-example-copy,
.wp-admin .wrap.wprshrtcd-help .code-example .code-example-copied {
    display: inline-block;
    padding: 3px 5px;
    background-color: #ccc;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    position: absolute;
    line-height: 1;
    color: #0067cd;
    cursor: pointer;
    font-weight: bold;
}

.wp-admin .wrap.wprshrtcd-help .code-example .code-example-copied {
    color: #666;
}
.wp-admin .wrap.wprshrtcd-help .code-example .code-example-copy:hover {
    color: #333;
}
.wp-admin .wrap.wprshrtcd-help .code-example .code-example-copied {
    display: none;
    cursor: default;
}

.wp-admin  .form-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wp-admin  textarea.form-input {
    height: auto;
}

.wp-admin  select.form-input {
    padding: 0 24px 0 6px;
    background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
    background-size: 16px 16px;
}

.form-input[readonly] {
    background-color: #ddd;
    color: #aaa;
}

#wprshrtcd_products_list {
    border: 1px solid #ddd;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.fixed .column-shortcode {
    width: 70%;
}

@media screen and (min-width: 783px) {
    .wp-admin .wrap.wprshrtcd-help .row:after {
        display: table;
        content: ' ';
        clear: both;
    }
    .wp-admin .wrap.wprshrtcd-help .row .column {
        width: 48%;
        float: left;
    }
    .wp-admin .wrap.wprshrtcd-help .row .column:last-child {
        float: right;
    }
}

/* Grid */


.wptl-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.wptl-row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.wptl-row.wptl-reverse {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.wptl-col.wptl-reverse {
    -ms-flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
}

.wptl-col-xs,
.wptl-col-xs-1,
.wptl-col-xs-2,
.wptl-col-xs-3,
.wptl-col-xs-4,
.wptl-col-xs-5,
.wptl-col-xs-6,
.wptl-col-xs-7,
.wptl-col-xs-8,
.wptl-col-xs-9,
.wptl-col-xs-10,
.wptl-col-xs-11,
.wptl-col-xs-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.wptl-col-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
}

.wptl-col-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
}

.wptl-col-xs-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
}

.wptl-col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.wptl-col-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
}

.wptl-col-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
}

.wptl-col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.wptl-col-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
}

.wptl-col-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
}

.wptl-col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.wptl-col-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
}

.wptl-col-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
}

.wptl-col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.wptl-col-xs-offset-1 {
    margin-left: 8.333%;
}

.wptl-col-xs-offset-2 {
    margin-left: 16.667%;
}

.wptl-col-xs-offset-3 {
    margin-left: 25%;
}

.wptl-col-xs-offset-4 {
    margin-left: 33.333%;
}

.wptl-col-xs-offset-5 {
    margin-left: 41.667%;
}

.wptl-col-xs-offset-6 {
    margin-left: 50%;
}

.wptl-col-xs-offset-7 {
    margin-left: 58.333%;
}

.wptl-col-xs-offset-8 {
    margin-left: 66.667%;
}

.wptl-col-xs-offset-9 {
    margin-left: 75%;
}

.wptl-col-xs-offset-10 {
    margin-left: 83.333%;
}

.wptl-col-xs-offset-11 {
    margin-left: 91.667%;
}

.wptl-start-xs {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
}

.wptl-center-xs {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.wptl-end-xs {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
}

.wptl-top-xs {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}

.wptl-middle-xs {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.wptl-bottom-xs {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
}

.wptl-around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.wptl-between-xs {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.wptl-first-xs {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
}

.wptl-last-xs {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

@media only screen and (min-width: 48em) {
    .wptl-container {
        width: 46rem;
    }

    .wptl-col-sm,
    .wptl-col-sm-1,
    .wptl-col-sm-2,
    .wptl-col-sm-3,
    .wptl-col-sm-4,
    .wptl-col-sm-5,
    .wptl-col-sm-6,
    .wptl-col-sm-7,
    .wptl-col-sm-8,
    .wptl-col-sm-9,
    .wptl-col-sm-10,
    .wptl-col-sm-11,
    .wptl-col-sm-12 {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .wptl-col-sm {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .wptl-col-sm-1 {
        -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .wptl-col-sm-2 {
        -ms-flex-preferred-size: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .wptl-col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .wptl-col-sm-4 {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .wptl-col-sm-5 {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .wptl-col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .wptl-col-sm-7 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .wptl-col-sm-8 {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .wptl-col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .wptl-col-sm-10 {
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .wptl-col-sm-11 {
        -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .wptl-col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .wptl-col-sm-offset-1 {
        margin-left: 8.333%;
    }

    .wptl-col-sm-offset-2 {
        margin-left: 16.667%;
    }

    .wptl-col-sm-offset-3 {
        margin-left: 25%;
    }

    .wptl-col-sm-offset-4 {
        margin-left: 33.333%;
    }

    .wptl-col-sm-offset-5 {
        margin-left: 41.667%;
    }

    .wptl-col-sm-offset-6 {
        margin-left: 50%;
    }

    .wptl-col-sm-offset-7 {
        margin-left: 58.333%;
    }

    .wptl-col-sm-offset-8 {
        margin-left: 66.667%;
    }

    .wptl-col-sm-offset-9 {
        margin-left: 75%;
    }

    .wptl-col-sm-offset-10 {
        margin-left: 83.333%;
    }

    .wptl-col-sm-offset-11 {
        margin-left: 91.667%;
    }

    .wptl-start-sm {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .wptl-center-sm {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }

    .wptl-end-sm {
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .wptl-top-sm {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .wptl-middle-sm {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .wptl-bottom-sm {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .wptl-around-sm {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .wptl-between-sm {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .wptl-first-sm {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }

    .wptl-last-sm {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}

@media only screen and (min-width: 62em) {
    .wptl-container {
        width: 61rem;
    }

    .wptl-col-md,
    .wptl-col-md-1,
    .wptl-col-md-2,
    .wptl-col-md-3,
    .wptl-col-md-4,
    .wptl-col-md-5,
    .wptl-col-md-6,
    .wptl-col-md-7,
    .wptl-col-md-8,
    .wptl-col-md-9,
    .wptl-col-md-10,
    .wptl-col-md-11,
    .wptl-col-md-12 {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .wptl-col-md {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .wptl-col-md-1 {
        -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .wptl-col-md-2 {
        -ms-flex-preferred-size: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .wptl-col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .wptl-col-md-4 {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .wptl-col-md-5 {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .wptl-col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .wptl-col-md-7 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .wptl-col-md-8 {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .wptl-col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .wptl-col-md-10 {
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .wptl-col-md-11 {
        -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .wptl-col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .wptl-col-md-offset-1 {
        margin-left: 8.333%;
    }

    .wptl-col-md-offset-2 {
        margin-left: 16.667%;
    }

    .wptl-col-md-offset-3 {
        margin-left: 25%;
    }

    .wptl-col-md-offset-4 {
        margin-left: 33.333%;
    }

    .wptl-col-md-offset-5 {
        margin-left: 41.667%;
    }

    .wptl-col-md-offset-6 {
        margin-left: 50%;
    }

    .wptl-col-md-offset-7 {
        margin-left: 58.333%;
    }

    .wptl-col-md-offset-8 {
        margin-left: 66.667%;
    }

    .wptl-col-md-offset-9 {
        margin-left: 75%;
    }

    .wptl-col-md-offset-10 {
        margin-left: 83.333%;
    }

    .wptl-col-md-offset-11 {
        margin-left: 91.667%;
    }

    .wptl-start-md {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .wptl-center-md {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }

    .wptl-end-md {
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .wptl-top-md {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .wptl-middle-md {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .wptl-bottom-md {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .wptl-around-md {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .wptl-between-md {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .wptl-first-md {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }

    .wptl-last-md {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}

@media only screen and (min-width: 75em) {
    .wptl-container {
        width: 71rem;
    }

    .wptl-col-lg,
    .wptl-col-lg-1,
    .wptl-col-lg-2,
    .wptl-col-lg-3,
    .wptl-col-lg-4,
    .wptl-col-lg-5,
    .wptl-col-lg-6,
    .wptl-col-lg-7,
    .wptl-col-lg-8,
    .wptl-col-lg-9,
    .wptl-col-lg-10,
    .wptl-col-lg-11,
    .wptl-col-lg-12 {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .wptl-col-lg {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .wptl-col-lg-1 {
        -ms-flex-preferred-size: 8.333%;
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .wptl-col-lg-2 {
        -ms-flex-preferred-size: 16.667%;
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .wptl-col-lg-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .wptl-col-lg-4 {
        -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .wptl-col-lg-5 {
        -ms-flex-preferred-size: 41.667%;
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .wptl-col-lg-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .wptl-col-lg-7 {
        -ms-flex-preferred-size: 58.333%;
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .wptl-col-lg-8 {
        -ms-flex-preferred-size: 66.667%;
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .wptl-col-lg-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .wptl-col-lg-10 {
        -ms-flex-preferred-size: 83.333%;
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .wptl-col-lg-11 {
        -ms-flex-preferred-size: 91.667%;
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .wptl-col-lg-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .wptl-col-lg-offset-1 {
        margin-left: 8.333%;
    }

    .wptl-col-lg-offset-2 {
        margin-left: 16.667%;
    }

    .wptl-col-lg-offset-3 {
        margin-left: 25%;
    }

    .wptl-col-lg-offset-4 {
        margin-left: 33.333%;
    }

    .wptl-col-lg-offset-5 {
        margin-left: 41.667%;
    }

    .wptl-col-lg-offset-6 {
        margin-left: 50%;
    }

    .wptl-col-lg-offset-7 {
        margin-left: 58.333%;
    }

    .wptl-col-lg-offset-8 {
        margin-left: 66.667%;
    }

    .wptl-col-lg-offset-9 {
        margin-left: 75%;
    }

    .wptl-col-lg-offset-10 {
        margin-left: 83.333%;
    }

    .wptl-col-lg-offset-11 {
        margin-left: 91.667%;
    }

    .wptl-start-lg {
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .wptl-center-lg {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        text-align: center;
    }

    .wptl-end-lg {
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .wptl-top-lg {
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .wptl-middle-lg {
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .wptl-bottom-lg {
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .wptl-around-lg {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .wptl-between-lg {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .wptl-first-lg {
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }

    .wptl-last-lg {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}